

<% if buyer_signed_in? %>
<%= render 'home_page/navigation_bar' %> 
<div class="container" style="margin-bottom: 100px;">
   <%= render 'home_page/trending_items' %> 

<%= render 'home_page/display_allproducts' ,obj: Product %>
</div>
<%= render 'home_page/footer' %>
<% elsif seller_signed_in? %>
<div class="container-fluid" style="margin-top:30px">
<%= render 'sellers/nav_seller' %>
<%= render 'sellers/seller_products' , obj:Product.where('seller_id='+current_seller.id.to_s).includes(:category)  %>
<%= render 'home_page/footer' %>
</div>
<%else%>

<center>
<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white fixed-top" style="height:70px">
  <a class="navbar-brand fw-bold text-white" style="margin-left: 20px; text-align: center;" href="/"> E-COMMERCE</a>
</nav>
	<div class="card-group" style="width:800px;margin-top: 200px;">
  <div class="card" style="margin:10px">
    <%= image_tag ('icon/buyer.jpeg'),class: 'card-img-top', style: 'height:250px;margin-bottom:20px;'  %>
    <div class="card-body">
      <h5 class="card-title fw-bold text-success">Buyer</h5>
      <p class="card-text">Buy Trustable products with our guidance</p>
    </div>
    <div class="card-footer">
        <%= link_to 'Continue as a Buyer' , new_buyer_session_path,class: 'text-success bg-light'%>
    </div>
  </div>
  <div class="card" style="margin:10px">
     <%= image_tag ('icon/seller.jpeg'),class: 'card-img-top' , style: 'height:250px;margin-bottom:20px;'%>
    <div class="card-body">
      <h5 class="card-title fw-bold text-success">Seller</h5>
      <p class="card-text">Sell more with E-Commerce</p>
    </div>
    <div class="card-footer">
      <%= link_to 'Continue as a Seller' , new_seller_session_path ,class: 'text-success bg-light'%>
    </div>
  </div>
  
</div>
</center>
<%= render 'home_page/footer' %>
<%end%>
