<%= form_with(model: buyer_address) do |form| %>
  <% if buyer_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buyer_address.errors.count, "error") %> prohibited this buyer_address from being saved:</h2>

      <ul>
        <% buyer_address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">

  <div class="field">

    <%= form.text_area :street_name ,class: 'form-control',placeholder:'Address Line'%>
  </div>
 <div class="field">
  
    <%= form.number_field :pincode ,class: 'form-control',placeholder:'Pincode' %>
  </div>
  <div class="actions">
    <%= form.submit class:'btn btn-success'%>
  </div>
</div>
<% end %>
