<%= form_with(model: buyer_address) do |form| %>
  <% if buyer_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buyer_address.errors.count, "error") %> prohibited this buyer_address from being saved:</h2>

      <ul>
        <% buyer_address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

    <%= form.label :street_name %>
    <%= form.text_area :street_name %>
  </div>

  
  </div>
 <div class="field">
    <%= form.label :pincode %>
    <%= form.number_field :pincode %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
