

<p id="notice"><%= notice %></p>
<p>
  <strong>Buyer:</strong>
  <%= @buyer_address.buyer_id %>
</p>
<p>
  <strong>Street name:</strong>
  <%= @buyer_address.street_name %>
</p>
<p>
  <strong>Lat:</strong>
  <%= @buyer_address.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @buyer_address.lon %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @buyer_address.pincode_id %>
</p>

<%= link_to 'Edit', edit_buyer_address_path(@buyer_address) %> |
<%= link_to 'Back', url_for(:back) %>
