<%= form_with(model: type_of_payment) do |form| %>
  <% if type_of_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_of_payment.errors.count, "error") %> prohibited this type_of_payment from being saved:</h2>

      <ul>
        <% type_of_payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
