<p id="notice"><%= notice %></p>

<h1>Type Of Payments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_of_payments.each do |type_of_payment| %>
      <tr>
        <td><%= type_of_payment.name %></td>
        <td><%= link_to 'Show', type_of_payment %></td>
        <td><%= link_to 'Edit', edit_type_of_payment_path(type_of_payment) %></td>
        <td><%= link_to 'Destroy', type_of_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Of Payment', new_type_of_payment_path %>
