<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :buyer_id %>
    <%= form.number_field :buyer_id %>
  </div>
  <div>
    <%= form.label :quantity %>
    <%= form.number_field  :quantity ,:max => Product.find(params[:product_id]).quantity ,:min =>1 %><br><br>
  </div>
   <div>
    <%=form.label :type_of_payment_id%>
    <%= form.collection_select :type_of_payment_id , TypeOfPayment.order(:name), :id, :name %> <br><br>
   </div> 
    <div class="field">

     <p>Address Line : <%= @address.street_name %> <p>
     <p>City : <%= @address.pincode.city %> <p>
     <p>Pincode : <%= @address.pincode.pincode %> <p> 
    
    </div>
 

  <div class="actions">
    <%= form.submit 'Place order' %>
  </div>
<% end %>
