<p id="notice"><%= notice %></p>

<div class="text-center bg-dark text-white fixed-top" style="height:70px;"><h3 class="fw-bold" style="margin-top:10px">Orders</h3></div>

<br>
<center style="margin-top: 50px;">
<% @orders.each do |order| %>
  <div class="card mb-3" style="max-width: 700px;">
  <div class="row g-0">
    <div class="col-md-4">
      <% if order.product[0].image.count>0 %>
      <%= image_tag(order.product[0].image[0] ,class: "card-img-top")  %>
      <%else%>
      <%= image_tag('icon/noImage.jpg' , class:"card-img-top")  %>
      <%end%>
    </div>
    <div class="col-md-8">
      <div class="card-body" style="text-align:left; ">
      <br>
      <h6 class="fw-bold"><%= order.product[0].name %></h6>
     <h6 class="fw-bold">Product Id :<%= order.order_item[0].product_id %></h6>
     <h6 class="fw-bold">Quantity :<%= order.order_item[0].quantity %></h6>
    <% if buyer_signed_in?%>
    <h6 ><b>Sold by : </b><%= order.seller.seller_company_name%></h6>
    <h6 ><b>Status : </b><%= order.status%> </h6>
    <%else%>
    <h6 ><b>Bought by : </b><%= order.buyer.buyer_name unless order.buyer.nil?%></h6>
    <h6 ><b>Status : </b><%= order.status%> </h6>
    <h5 style="color: #9c0902;"><sup><span>&#8377</span></sup><%= order.amount %></h5>
    <%if order.status.to_s=='Waiting for Seller Confirmation.'%>
    <h6 class='fw-bold'> <%= button_to 'confirm ' , sellers_order_path(id:order) ,class: "btn btn-outline-success" ,method: :put%></h6>
    <%end%>
    <%end%>
    
    
      <ol class="breadcrumb">
       <%= button_to 'cancel order ' , buyers_order_path(id:order) ,class: "btn btn-outline-danger" ,method: :delete%>
    </ol>
      </div>
    </div>
  </div>
</div>
<% end %>
</center>
<br><br>
<%= link_to 'Back', url_for(:back) ,class:'btn btn-success text-white'  %>
