<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table">
  <thead  >
    <tr >
      <th>Buyer</th>
      <th>Seller</th>
      <th>Status</th>
       <th>Address Line</th>
       <th>Type of Payment</th>
      <th>Ordered</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr scope="row">
        <td><%= order.buyer.buyer_name%></td>
        <td><%= order.seller.seller_company_name%></td>
        <td><%= order.status %></td>
        <td><%= order.buyer_address.street_name+","+order.buyer_address.pincode.pincode.to_s unless order.buyer_address.nil? %></td>
        <td><%= order.type_of_payment.name %></td>
        <td><%= +time_ago_in_words(order.created_at) +" ago"%></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', url_for(:back) %>
<br>
