<%= form_with(model: pincode) do |form| %>
  <% if pincode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pincode.errors.count, "error") %> prohibited this pincode from being saved:</h2>

      <ul>
        <% pincode.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.text_field :pincode %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :area %>
    <%= form.text_field :area %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
