<p id="notice"><%= notice %></p>

<p>
  <strong>Pincode:</strong>
  <%= @pincode.pincode %>
</p>

<p>
  <strong>City:</strong>
  <%= @pincode.city %>
</p>

<p>
  <strong>Area:</strong>
  <%= @pincode.area %>
</p>

<%= link_to 'Edit', edit_pincode_path(@pincode) %> |
<%= link_to 'Back', pincodes_path %>
