<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
    <div style="border: 5px solid grey;width: 500px;">
    <center><h2><b>You booked an <%= @order.order_item[0].product.name %> </b></h2></center>
    <p>
      <hr>
    </p>
   <br>
    <h2><b>Price        : </b><%= @order.order_item[0].product.price %></h2>
    <h2><b>Quantity     : </b><%= @order.order_item[0].quantity %></h2>
    <h2><b>Total Amount : </b><%= @order.amount %></h2>
    <h2>Contact seller for more info : <%= @order.seller.email%></h2>
    <p>
    <hr>
    </p>
    <center> <h2 style="color:grey;"><b>Thank you for using our Website @ECOM</b></h2></center>
  </div>
  </center>
  </body>
</html>