<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer name:</strong>
  <%= @buyer.buyer_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @buyer.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @buyer.phone_number %>
</p>

<p>
  <strong>Password:</strong>
  <%= @buyer.password %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @buyer.is_active %>
</p>

<%= link_to 'Edit', edit_buyer_path(@buyer) %> |
<%= link_to 'Back', buyers_path %>
