<div class="text-center bg-dark text-white fixed-top" style="height:70px;"><h3 class="fw-bold" style="margin-top:10px">Preview</h3></div>
<div class="card container" style="font-size: large;margin-top: 100px;">

  <div class="card-body" style="text-align:left">
<h5>
  <strong>Name:</strong>
  <%= @product.name %>
</h5>

<h5>
  <strong>Description:</strong>
  <%= @product.description %>
</h5>
<% (0...@product.image.count).each do |image| %>
<%= image_tag(@product.image[image],style: 'height:300px;width:300px;') %>
<% end %>
<h5>
  <strong>Category:</strong>
  <% if (!@product.category.nil?) %>
  <%= @product.category.category_name  %>
  <%else%>
   <%= "No category"  %>
  <% end %>
</h5>
<h5>
  <strong>Price:</strong>
  <%= @product.price %>
</h5>

<h5>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</h5>

<h5>
  <strong>Is active:</strong>
  <%= @product.is_active %>
</h5>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', url_for(:back) %>
</div>
</div>
